/* 로그인 폼 전체 정렬 */
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    padding: 50px;
    color: #4d4d4d;
}


/* 로그인 제목 */
.loginTitle {
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 40px;
}

.contentWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

/* 입력 필드 타이틀 */
.inputTitle {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    padding-left: 10px;
    text-align: left;
    width: 100%;
}

/* 입력 필드 감싸는 박스 */
.inputWrap {
    width: 100%;
    margin-bottom: 10px;
}

/* 입력 필드 스타일 */
.input {
    width: 100%;
    padding: 9px 10px;
    font-size: 16px;
    border: 1.5px solid #4d4d4d;
    border-radius: 15px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

/* 입력 필드 클릭 시 */
.input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

/* 입력 필드 내부 플레이스홀더 */
.input::placeholder {
    color: gray;
    font-size: 13px;
}

/* 오류 메시지 스타일 */
.errorMessageWrap {
    font-size: 13px;
    color: rgb(255, 0, 0);
    margin: 5px 0;
    text-align: center;
}

/* 로그인 버튼 스타일 */
button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #A0C4F5;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* 로그인 버튼 호버 시 */
button:hover {
    background-color: #8EB4E8;
}
